@media (max-width: 991px) {
  .show-item {
    width: 50%;
    float: left;
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .show-item {
    width: 100%;
    float: left;
    padding: 0 15px;
  }
}

@media (max-width: 600px) {
  .show-item {
    width: 100%;
    float: left;
    padding: 0 15px;
  }

  .menuLeft {
    width: 100%;
  }

  .show {
    width: 100%;
  }
}